    <ul class="nav nav-pills" role="tablist">
        <li class="active">
            <a href="#tab4TandemProfile" role="tab" data-toggle="tab" onclick="cleanupGames();"><i class="fa fa-user"></i> Profile's Tandem</a>
        </li>
        <li>
            <a href="#tab4WrittenChat" role="tab" data-toggle="tab" class="active" onclick="cleanupGames();"><i class="fa fa-comment"></i> Written Chat</a>
        </li>
        <li>
            <a href="#tab4IceBreaker" role="tab" data-toggle="tab" onclick="init_storyGame();"><i class="fa fa-bolt"></i> Ice Breaker</a>
        </li>
        <li>
            <a href="#tab4IMGGame" role="tab" data-toggle="tab" onclick="init_imgGame(1);"><i class="fa fa-gamepad"></i> Game IMG</a>
        </li>
        <li>
            <a href="#tab4StoryGame" role="tab" data-toggle="tab" onclick="init_storyGame();"><i class="fa fa-gamepad"></i> Game Story</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab4TandemProfile">
            <div class=" tiles white col-md-12 no-padding">
                <div class="tiles green cover-pic-wrapper">
                    <img src="{{ asset('frontend/assets/img/cover_pic.png') }}" alt="cover" height="250">
                </div>
                <div class="tiles white">
                    <div class="row">
                        <div class="col-md-3 col-sm-3" >
                            <div class="user-mini-description">
                                <h3 class="text-success semi-bold">
                                    {{ discussion.guest.reputation }}
                                </h3>
                                <h5>Note</h5>
                            </div>
                        </div>
                        <div class="col-md-8 user-description-box  col-sm-5">
                            <h4 class="semi-bold no-margin">{{ discussion.guest.firstName }} {{ discussion.guest.lastName }}</h4>
                            <br>
                            <p><i class="fa fa-comment"></i>{{ discussion.guest.language }}</p>
                            <p>
                                <i class="fa fa-comment-o"></i>
                                {% for language in discussion.guest.learningLanguages %}
                                    {{ language.language }}

                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p><i class="fa fa-gamepad"></i>Piano, Coding</p>
                            <p><i class="fa fa-briefcase"></i>Web Developer</p>
                            <p><i class="fa fa-globe"></i>www.google.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab4WrittenChat">
            <h3>NEED A CHAT HERE!</h3>
            <!--
                CODE FOR A WRITTEN CHAT
            -->
        </div>
        <div class="tab-pane" id="tab4IceBreaker">
            <h3>Break the <span class="semi-bold">ice</span> with your tandem:</h3>
            <button type="button" class="btn btn-default btn-block"><i class="fa fa-glass"></i> Tell me about your weekend! </button>
            <button type="button" class="btn btn-primary btn-block"><i class="fa fa-gamepad"></i> Describe me your house </button>
            <button type="button" class="btn btn-success btn-block"><i class="fa fa-umbrella"></i> How is the weather at your place today? </button>
            <button type="button" class="btn btn-info btn-block"><i class="fa fa-cutlery"></i> What's your favorite meal? </button>
            <button type="button" class="btn btn-warning btn-block"><i class="fa fa-music"></i> What kind of music do you like? </button>
            <button type="button" class="btn btn-danger btn-block"><i class="fa fa-suitcase"></i> What's your dream job?</button>

            <button type="button" class="btn btn-default btn-block"><i class="fa fa-plane"></i> Where would you like to spend your next vacations? </button>
            <button type="button" class="btn btn-primary btn-block"><i class="fa fa-gift"></i> What do you wish the most as a present for Christmas? </button>
            <button type="button" class="btn btn-warning btn-block"><i class="fa fa-road"></i> Do you like driving? </button>
        </div>
        <div class="tab-pane " id="tab4IMGGame">
            <div class="row">
                <canvas id="canvasIMG"></canvas>
            </div>
        </div>
        <div class="tab-pane " id="tab4StoryGame">
            <div class="row">
                <canvas id="canvasStory"></canvas>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-star fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">You win!</h4>
                    <p class="no-margin">50 points added to your English skills! </p>
                    <br>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <div class="modal fade" id="loseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-frown-o fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">You lose!</h4>
                    <p class="no-margin"> Try again! You will do better next time! </p>
                    <br>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->