<!DOCTYPE html>
<html>
<head>
    <title>PolyTandem {% block title %}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- BEGIN PLUGIN CSS -->
    <link href="{{ asset('frontend/assets/plugins/pace/pace-theme-flash.min.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('frontend/assets/plugins/bootstrapv3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/animate.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/jquery-scrollbar/jquery.scrollbar.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END PLUGIN CSS -->

    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="{{ asset('frontend/webarch/css/webarch.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
</head>

{% block body %}
    <body class="">
    {% block header %}{% include 'header.html.twig' %}{% endblock %}

    {% block pageContainer %}
        <div class="page-container row-fluid">


            {% block pageContent%}

            {% endblock %}

            {% block chat %}{% include 'chat.html.twig' %}{% endblock %}
        </div>
    {% endblock %}
    <!-- END CONTENT -->

    {% block javascripts %}
        <!-- BEGIN CORE JS FRAMEWORK-->
        <script src="{{ asset('frontend/assets/plugins/pace/pace.min.js') }}" type="text/javascript"></script>
        <!-- BEGIN JS DEPENDECENCIES-->
        <script src="{{ asset('frontend/assets/plugins/jquery/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/bootstrapv3/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/jquery-block-ui/jqueryblockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/jquery-unveil/jquery.unveil.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/plugins/bootstrap-select2/select2.min.js') }}" type="text/javascript"></script>

        {% block innerJS %}{% endblock %}

        <!-- BEGIN CORE TEMPLATE JS -->
        <script src="{{ asset('frontend/webarch/js/webarch.js') }}" type="text/javascript"></script>
        <script src="{{ asset('frontend/assets/js/chat.js') }}" type="text/javascript"></script>
    {% endblock %}

    </body>
{% endblock %}
</html>