<!DOCTYPE html>
<html>
<head>
    <title>PolyTandem {% block title %}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- BEGIN PLUGIN CSS -->
    <link href="{{ asset('frontend/assets/plugins/pace/pace-theme-flash.min.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('frontend/assets/plugins/bootstrapv3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/animate.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('frontend/assets/plugins/jquery-scrollbar/jquery.scrollbar.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END PLUGIN CSS -->
    {% block innerJS %}{% endblock %}
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="{{ asset('frontend/webarch/css/webarch.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
</head>

{% block body %}
    <body class="">
    {% block header %}{% include 'header.html.twig' %}{% endblock %}

    {% block pageContainer %}
        <div class="page-container row-fluid">


            {% block pageContent%}

            {% endblock %}

            {% block chat %}{% include 'chat.html.twig' %}{% endblock %}
        </div>
    {% endblock %}
    <!-- END CONTENT -->

    {% block javascripts %}
        {% include 'javascripts.html.twig' %}
    {% endblock %}

    </body>
{% endblock %}
</html>