<!-- BEGIN SIDEBAR -->
<!-- BEGIN MENU -->
<div class="page-sidebar" id="main-menu">
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
            <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">{{ app.user.firstName }} <span class="semi-bold">{{ app.user.lastName }}</span></div>
                <div class="status">Status
                    <a href="#">
                        <div class="status-icon green"></div>Online</a>
                </div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">BROWSE</p>
        <ul>
            <li {% block home_active %} {% endblock %}>
                <a href="{{ path('homepage') }}">
                    <i class="icon-custom-home"></i>
                    <span class="title">Home</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li {% block user_active %} {% endblock %}>
                <a href="{{ path('user-profile') }}">
                    <i class="fa fa-user"></i>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li {% block languages_active %} {% endblock %}>
                <a href="{{ path('languages') }}">
                    <i class="fa fa-flag"></i>
                    <span class="title">My languages</span>
                </a>
            </li>
            <li {% block discussions_active %} {% endblock %}>
                <a href="{{ path('discussions') }}">
                    <i class="fa fa-flag"></i>
                    <span class="title">My discussions</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- BEGIN SIDEBAR WIDGETS -->
        <div class="clearfix"></div>
        <!-- END SIDEBAR WIDGETS -->
    </div>
</div>
<!-- BEGIN SCROLL UP HOVER -->
<a href="#" class="scrollup">Scroll</a>
<!-- END SCROLL UP HOVER -->
<!-- END MENU -->
<!-- BEGIN SIDEBAR FOOTER WIDGET -->
<div class="footer-widget">
    <div class="progress transparent progress-small no-radius no-margin">
        <div data-percentage="79%" class="progress-bar progress-bar-success animate-progress-bar"></div>
    </div>
    <div class="pull-right">
        <div class="details-status">
            Powered by very talented people
        </div>
        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
    </div>
</div>
<!-- END SIDEBAR FOOTER WIDGET -->
<!-- END SIDEBAR -->