{% extends "base.html.twig" %}

{% block header %} {% endblock %}



{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% block body %}

    <body class="error-body no-top lazy" data-original="{{ asset('frontend/assets/img/work.jpg') }}"
          style="background-image: url('{{ asset('frontend/assets/img/work.jpg') }}')"
          xmlns:action="http://symfony.com/schema/dic/symfony">

    <div class="container">
        <div class="row login-container animated fadeInUp">
            <div class="col-md-7 col-md-offset-2 tiles white no-padding">
                <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
                    <h2 class="center-text">Register to <img src="{{ asset('frontend/img/logo.png') }}" alt="" height="50"></h2>
                    <p>Fulfil the registration form <br></p>
                    <div>
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-cons">Or login</a>
                    </div>
                </div>
                <div class="tiles grey p-t-20 p-b-20 no-margin text-black tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab_login">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


                            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'} }) }}
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.username, {'attr': {'placeholder': 'Username'} }) }}
                                </div>
                            </div>
                            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'} }) }}
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Repeat password'} }) }}
                                </div>
                            </div>
                            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'} }) }}
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name'} }) }}
                                </div>
                            </div>
                            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.nationality) }}
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    {{ form_widget(form.city, {'attr': {'placeholder': 'City'} }) }}
                                </div>
                            </div>
                            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                                <div class="col-md-12">
                                    {{ form_widget(form.language) }}
                                </div>
                            </div>

                        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="control-group col-md-10">
                                <input type="submit" class="btn btn-success" value="Create" />

                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

        {% include 'javascripts.html.twig' %}
    {% endblock %}
{% endblock fos_user_content %}
